<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <title>Diet Daniel!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen" />
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>