{% extends 'myfitbit/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Monday</h1>
                    </div>
                    <div class="panel-body">{{ msg }}</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Tuesday</h1>
                    </div>
                    <div class="panel-body">{{ msg }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">Weight<span class="badge">{{ body.weight }}</span></li>
                    <li class="list-group-item">Bodyfat %<span class="badge">{{ body.fat }}</span></li>
                    <li class="list-group-item">BMI<span class="badge">{{ body.bmi }}</span></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">Calories
                        <span class="label
                        {% if foods.calories > targets.calories %} label-danger
                        {% elif foods.calories >= maintenance %} label-success
                        {% else %} label-default
                        {% endif %}
                        pull-right" id="target_calories">
                            {{ foods.calories }} / {{ targets.calories }}
                            {% if diffs.calories.under >= 0 %}
                                ({{ diffs.calories.under }} under)
                            {% else %}
                                ({{ diffs.calories.over }} over)
                            {% endif %}
                        </span>
                    </li>
                    <li class="list-group-item">Carbs
                        <span class="label
                        {% if foods.carbs.calories > targets.carbs.calories %} label-success
                        {% else %} label-default
                        {% endif %}
                        pull-right" id="target_carbs_calories">
                            {{ foods.carbs.calories }} / {{ targets.carbs.calories }} cal
                            {% if diffs.carbs.calories.under >= 0 %}
                                ({{ diffs.carbs.calories.under }} under)
                            {% else %}
                                ({{ diffs.carbs.calories.over }} over)
                            {% endif %}
                        </span>
                        <span class="label
                        {% if foods.carbs.grams > targets.carbs.grams %} label-success
                        {% else %} label-default
                        {% endif %}
                        pull-right" id="target_carbs_grams">
                            {{ foods.carbs.grams }} / {{ targets.carbs.grams }} g
                            {% if diffs.carbs.grams.under >= 0 %}
                                ({{ diffs.carbs.grams.under }} under)
                            {% else %}
                                ({{ diffs.carbs.grams.over }} over)
                            {% endif %}
                        </span>
                        <div class="progress">
                            <div
                                {% if percents.carbs.in_range %}
                                class="progress-bar progress-bar-success"
                                {% else %}
                                class="progress-bar"
                                {% endif %}
                                style="width: {{ percents.carbs.value }}%">
                                <span class="progress-value">({{ percents.carbs.value }}% of {{ recommended.carbs.percent }}%)</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Protein
                        <span class="label
                        {% if foods.protein.calories > targets.protein.calories %} label-success
                        {% else %} label-default
                        {% endif %}
                        pull-right" id="target_protein_calories">
                            {{ foods.protein.calories }} / {{ targets.protein.calories }} cal
                            {% if diffs.protein.calories.under >= 0 %}
                                ({{ diffs.protein.calories.under }} under)
                            {% else %}
                                ({{ diffs.protein.calories.over }} over)
                            {% endif %}
                        </span>
                        <span class="label
                        {% if foods.protein.grams > targets.protein.grams %} label-success
                        {% else %} label-default
                        {% endif %}
                        pull-right" id="target_protein_grams">
                            {{ foods.protein.grams }} / {{ targets.protein.grams }} g
                            {% if diffs.protein.grams.under >= 0 %}
                                ({{ diffs.protein.grams.under }} under)
                            {% else %}
                                ({{ diffs.protein.grams.over }} over)
                            {% endif %}
                        </span>
                        <div class="progress">
                            <div
                                {% if percents.protein.in_range %}
                                class="progress-bar progress-bar-success"
                                {% else %}
                                class="progress-bar"
                                {% endif %}
                                style="width: {{ percents.protein.value }}%">
                                <span class="progress-value">({{ percents.protein.value }}% of {{ recommended.protein.percent }}%)</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Fat
                        <span class="label
                        {% if foods.fat.calories > targets.fat.calories %} label-success
                        {% else %} label-default
                        {% endif %}
                        pull-right" id="target_fat_calories">
                            {{ foods.fat.calories }} / {{ targets.fat.calories }} cal
                            {% if diffs.fat.calories.under >= 0 %}
                                ({{ diffs.fat.calories.under }} under)
                            {% else %}
                                ({{ diffs.fat.calories.over }} over)
                            {% endif %}
                        </span>
                        <span class="label
                        {% if foods.fat.grams > targets.fat.grams %} label-success
                        {% else %} label-default
                        {% endif %}
                        pull-right" id="target_fat_grams">
                            {{ foods.fat.grams }} / {{ targets.fat.grams }} g
                            {% if diffs.fat.grams.under >= 0 %}
                                ({{ diffs.fat.grams.under }} under)
                            {% else %}
                                ({{ diffs.fat.grams.over }} over)
                            {% endif %}
                        </span>
                        <div class="progress">
                            <div
                                {% if percents.fat.in_range %}
                                class="progress-bar progress-bar-success"
                                {% else %}
                                class="progress-bar progress-bar-info"
                                {% endif %}
                                style="width: {{ percents.fat.value }}%">
                                <span class="progress-value">({{ percents.fat.value }}% of {{ recommended.fat.percent }}%)</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Sodium
                        <div class="progress">
                            <div
                                {% if foods.sodium >= recommended.sodium.min %}
                                class="progress-bar progress-bar-success"
                                {% elif foods.sodium > recommended.sodium.max %}
                                class="progress-bar progress-bar-danger"
                                {% else %}
                                class="progress-bar progress-bar-info"
                                {% endif %}
                                style="width: {{ percents.sodium }}%">
                                <span class="progress-value">
                                    {{ foods.sodium }} / {{ targets.sodium }} g ({{ percents.sodium }}%)
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Fiber
                        <div class="progress">
                            <div
                                {% if foods.fiber >= recommended.fiber %}
                                class="progress-bar progress-bar-success"
                                {% else %}
                                class="progress-bar progress-bar-info"
                                {% endif %}
                                style="width: {{ percents.fiber }}%">
                                <span class="progress-value">
                                    {{ foods.fiber }} / {{ targets.fiber }} g ({{ percents.fiber }}%)
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Water
                        <div class="progress">
                            <div
                                {% if percents.water >= 100 %} class="progress-bar progress-bar-success"
                                {% else %} class="progress-bar progress-bar-info"
                                {% endif %}
                                style="width: {{ percents.water }}%">
                                <span class="progress-value">
                                    {{ foods.water }} / {{ targets.water }} g ({{ percents.water }}%)
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}